#topmenu {
    width: 100%;
    background-color: $dark;
    display: block;
    color: $light;
    padding: 0.5rem;
    font-size: 0.9rem;
    @include breakpoint(maxmd) {
        padding: 0 0 0.5rem 0;
        .topmessage {
            background-color: $brand1;
            padding: 0.25rem;
            width: 100%;
            text-align: center;
            font-size: 0.9rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
    }
    .topcontact {
        background-color: $warning;
        padding: 0.25rem 0.5rem;
        border-radius: 5px;
        margin-left: auto;
        display: flex;
        align-items: center;
        font-weight: bold;
        margin-right: 0.5rem;
        color: $dark;
        svg {
            use {
                fill: $dark;
            }
        }
        .assistenza {
            font-weight: normal;
            text-transform: uppercase;
            margin-left: 0.25rem;
            font-size: 0.8em;
        }
        @include breakpoint(maxmd) {
            margin-right: auto;
            margin-left: 0.5rem;
            font-size: 0.8rem;
            .assistenza {
                display: none;
            }
        }
        @include breakpoint(xs) {
            .assistenza {
                display: none;
            }
        }
    }
    .user {
        display: flex;
        align-items: center;
        margin-right: 0.5rem;
        padding: 0 0.5rem;
        @include breakpoint(maxmd) {
            margin-left: auto;
        }
    }
    .cart {
        display: flex;
        align-items: center;
        position: relative;
        margin-left: 0.5rem;
        @include breakpoint(maxmd) {
            margin-right: 0.5rem;
        }
        .cart--counter {
            position: absolute;
            left: -8px;
            top: -4px;
            border-radius: 50%;
            display: block;
            width: 16px;
            height: 16px;
            text-align: center;
            line-height: 16px;
            background-color: $brand1;
            color: $light;
            font-size: 0.7rem;
        }
        svg {
            transform: scale(-1, 1);
        }
    }
    svg {
        width: 24px;
        height: 24px;
        display: inline-block;
        margin-right: 4px;
        use {
            fill: $light;
        }
    }
    a {
        color: $light;
    }
    .contenitore {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

header {
    margin: 0px;
    .navbar-brand {
        height: auto;
        max-height: 100px;
        margin-left: 0px !important;
        padding: 0px;
        img {
            max-height: 100px;
            width: auto;
        }
        @include breakpoint(maxmd) {
            max-height: 80px;
            img {
                max-height: 80px;
            }
        }
    }
    &#header {
        background-color: $brand1;
        top: 0px;
        z-index: 99;
        left: 0;
        right: 0;
        .navbar-header {
            height: 100px;
            line-height: 100px;
            border: 0px;
        }
    }
}

.navbar {
    @include border-radius(0px);
}

.navbar-default {
    border: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    background-color: $light;
    .navbar-toggle {
        border: 0px;
        margin-top: 30px;
        .icon-bar {
            background-color: $brand1;
            width: 30px;
            border-radius: 3px;
            height: 4px;
            margin-bottom: 6px;
        }
        i {
            color: $brand1;
            font-size: 140%;
        }
        &:focus,
        &:hover {
            background-color: transparent;
            color: darken($brand1, 10%);
        }
        &.collapsed {
            background-color: transparent;
            .icon-bar {
                background-color: $brand1;
            }
        }
    }
}

#navigazione {
    padding-top: 0px;
    font-weight: 400;
    background: $light;
    @include breakpoint(sm) {
        .single & {
            @include box-shadow(2px, 2px, darken($brand1, 7%));
        }
    }
    ul.nav {
        margin-top: 1em;
        margin-bottom: 0px;
        @include breakpoint(maxmd) {
            margin-top: 0px;
        }
        li {
            &.different {
                a {
                    font-style: italic;
                }
            }
            .sub-menu {
                display: none;
                z-index: 99;
                background-color: $dark;
                position: absolute;
                left: 0;
                width: 300px;
                padding: 1rem;
                li {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    a {
                        height: auto;
                        padding: 1rem;
                        display: block;
                        color: $light;
                        line-height: normal;
                        border-bottom: 1px solid lighten($dark, 20%);
                        &:hover {
                            color: $brand1;
                        }
                    }
                    &:last-child {
                        a {
                            border-bottom: 0px;
                        }
                    }
                }
            }
            &.menu-item-has-children {
                @include breakpoint(md) {
                    position: relative;
                    &:hover {
                        background-color: $brand1;
                        a {
                            color: $light;
                        }
                        .sub-menu {
                            display: block;
                        }
                    }
                }
                @include breakpoint(maxmd) {
                    .sub-menu {
                        width: 100%;
                        position: relative;
                        display: block;
                    }
                }
            }
            &.separator {
                a {
                    @include breakpoint(sm) {
                        &:after {
                            content: '';
                            position: relative;
                            bottom: -8px;
                            display: inline-block;
                            width: 0px;
                            height: 25px;
                            border-right: 1px dotted $brand3;
                            margin-left: 15px;
                            margin-right: -10px;
                        }
                    }
                }
            }
            a {
                height: 80px;
                line-height: 80px;
                padding: 0px 10px;
                @include transition(0.5s, fade);
                @media screen and (max-width: 768px) {
                    border-left: 0px;
                    border-right: 0px;
                    height: 60px;
                    line-height: 60px;
                    border-top: 1px solid $neutro;
                }
                color: $brand1;
                &:hover {
                    color: $brand1;
                }
                &:focus,
                &:active {
                    color: lighten($brand1, 14%);
                }
            }
            &:first-child {
                a {
                    border-left: 0px;
                }
            }
            &:last-child {
                a {
                    border-right: 0px;
                }
            }
            &.current_page_item,
            &.current-page-ancestor,
            &.current-menu-item,
            &.current-post-ancestor {
                >a {
                    color: $brand2;
                    position: relative;
                    overflow: hidden;
                    @include breakpoint(xs) {
                        border-bottom: 0px;
                    }
                }
            }
        }
    }
    .collapse {
        overflow: hidden;
        ul.nav {
            padding-right: 0px;
        }
    }
}

@include breakpoint(maxmd) {
    #navigazione .navbar-collapse {
        background-color: $brand2;
        border: 0px;
        text-align: center;
        ul.nav li a {
            border-top: 1px solid lighten($brand2, 25%);
        }
        ul.nav li.current-menu-item a {
            color: white;
        }
    }
}

#searchtoggle {
    background: none;
    border: 0px;
    margin-left: auto;
    height: 30px;
    padding: 0;
    position: relative;
    display: inline-flex;
    align-items: center;
    svg {
        width: 30px;
        height: 30px;
    }
    span {
        display: inline-block;
        background: orange;
    }
}

.woocommerce-product-search {
    align-self: center;
    display: flex;
    padding: 0px 20px 0 0;
    margin-top: 20px;
    margin-bottom: 20px;
    .search-field {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0.5rem 35px 0.5rem 0.5rem;
        border-radius: 2rem;
        border: 1px solid $dark;
        margin-top: auto;
        margin-bottom: auto;
        @include breakpoint(md) {
            width: 100%;
            max-width: 180px;
        }
    }
    button {
        background: transparent;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='windows-1252'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath d='M225.474,0C101.151,0,0,101.151,0,225.474c0,124.33,101.151,225.474,225.474,225.474 c124.33,0,225.474-101.144,225.474-225.474C450.948,101.151,349.804,0,225.474,0z M225.474,409.323 c-101.373,0-183.848-82.475-183.848-183.848S124.101,41.626,225.474,41.626s183.848,82.475,183.848,183.848 S326.847,409.323,225.474,409.323z'/%3E%3Cpath d='M505.902,476.472L386.574,357.144c-8.131-8.131-21.299-8.131-29.43,0c-8.131,8.124-8.131,21.306,0,29.43l119.328,119.328 c4.065,4.065,9.387,6.098,14.715,6.098c5.321,0,10.649-2.033,14.715-6.098C514.033,497.778,514.033,484.596,505.902,476.472z'/%3E%3C/svg%3E");
        background-size: 23px 23px;
        background-position: 6px 6px;
        background-repeat: no-repeat;
        border: 0px;
        height: 35px;
        width: 35px;
        overflow: hidden;
        margin-left: -43px;
        text-indent: -99999px;
    }
}