#topmenu {
    width: 100%;
    background-color: $dark;
    display: block;
    color: $light;
    padding: 0.5rem 0;
    svg {
        width: 26px;
        height: 26px;
        display: inline-block;
        margin-right: 3px;
        use {
            fill: $light;
        }
    }
    a {
        color: $light;
    }
    .contenitore {
        width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    .user {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
    .cart {
        display: flex;
        align-items: center;
        position: relative;
        margin-left: 20px;
        .cart--counter {
            position: absolute;
            left: -6px;
            top: -2px;
            border-radius: 50%;
            display: block;
            width: 18px;
            height: 18px;
            text-align: center;
            line-height: 18px;
            background-color: $brand1;
            color: $light;
        }
    }
}

header {
    margin: 0px;
    .navbar-brand {
        max-height: 100px;
        margin-left: 0px !important;
        padding: 0px;
        img {
            max-height: 100px;
            width: auto;
        }
    }
    &#header {
        background-color: $brand1;
        top: 0px;
        z-index: 99;
        left: 0;
        right: 0;
        .navbar-header {
            height: 100px;
            line-height: 100px;
            border: 0px;
        }
    }
}

.navbar {
    @include border-radius(0px);
}

.navbar-default {
    border: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    background-color: $light;
    .navbar-toggle {
        border: 0px;
        margin-top: 30px;
        .icon-bar {
            background-color: $brand1;
            width: 30px;
            border-radius: 3px;
            height: 4px;
            margin-bottom: 6px;
        }
        i {
            color: $brand1;
            font-size: 140%;
        }
        &:focus,
        &:hover {
            background-color: transparent;
            color: darken($brand1, 10%);
        }
        &.collapsed {
            background-color: transparent;
            .icon-bar {
                background-color: $brand1;
            }
        }
    }
}

#navigazione {
    padding-top: 0px;
    font-weight: 400;
    background: $light;
    .single & {
        @include box-shadow(2px, 2px, darken($brand1, 7%));
    }
    @include breakpoint(xs) {}
    ul.nav {
        margin-top: 1em;
        margin-bottom: 0px;
        @include breakpoint(xs) {
            margin-top: 0px;
        }
        li {
            &.different {
                a {
                    font-style: italic;
                }
            }
            .sub-menu {
                display: none;
                z-index: 99;
                background-color: $dark;
                position: absolute;
                left: 0;
                width: 300px;
                padding: 1rem;
                li {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    a {
                        height: auto;
                        padding: 1rem;
                        display: block;
                        color: $light;
                        line-height: normal;
                        border-bottom: 1px solid lighten($dark, 20%);
                        &:hover {
                            color: $brand1;
                        }
                    }
                    &:last-child {
                        a {
                            border-bottom: 0px;
                        }
                    }
                }
            }
            &.menu-item-has-children {
                position: relative;
                &:hover {
                    background-color: $brand1;
                    a {
                        color: $light;
                    }
                    .sub-menu {
                        display: block;
                    }
                }
            }
            &.separator {
                a {
                    @include breakpoint(sm) {
                        &:after {
                            content: '';
                            position: relative;
                            bottom: -8px;
                            display: inline-block;
                            width: 0px;
                            height: 25px;
                            border-right: 1px dotted $brand3;
                            margin-left: 15px;
                            margin-right: -10px;
                        }
                    }
                }
            }
            a {
                height: 80px;
                line-height: 80px;
                padding: 0px 15px;
                @include transition(0.5s, fade);
                @media screen and (max-width: 768px) {
                    border-left: 0px;
                    border-right: 0px;
                    height: 60px;
                    line-height: 60px;
                    border-top: 1px solid $info;
                }
                color: $brand1;
                &:hover {
                    color: $brand1;
                }
                &:focus,
                &:active {
                    color: lighten($brand1, 14%);
                }
            }
            &:first-child {
                a {
                    border-left: 0px;
                    @include breakpoint(xs) {}
                }
            }
            &:last-child {
                a {
                    border-right: 0px;
                }
            }
            &.current_page_item,
            &.current-page-ancestor,
            &.current-menu-item,
            &.current-post-ancestor {
                >a {
                    color: $brand2;
                    position: relative;
                    overflow: hidden;
                    @include breakpoint(xs) {
                        border-bottom: 0px;
                    }
                }
            }
        }
    }
    .collapse {
        overflow: hidden;
        ul.nav {
            padding-right: 0px;
        }
    }
}

@include breakpoint(xs) {
    #navigazione .navbar-collapse {
        background-color: $brand2;
        border: 0px;
        text-align: center;
        ul.nav li a {
            border-top: 1px solid lighten($brand2, 25%);
        }
        ul.nav li.current-menu-item a {
            color: white;
        }
    }
}