
#socializeToggle {
	clear: both;
	margin-bottom: 30px;
}

#socialize {
	display: none;
	border-top: 1px solid $neutro;
	padding-top: 15px;
	clear: both;
	

		.fb_iframe_widget {
		top: -5px !important;
	}

}
