body.woocommerce-page {
    h1 {
        text-align: center;
        font-size: 2rem;
    }
    .page-description {
        text-align: center;
    }
    .woocommerce-result-count,
    .woocommerce-ordering {
        display: none;
    }
}

.products {
    padding: 0;
}

ul.products {
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    >li.product {
        background-color: lighten($light, 5%);
        padding: 11px !important;
        text-align: center;
        list-style-type: none;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        position: relative !important;
        transition: all 0.2s linear;
        &:hover {
            transform: scale(1.05);
            transition: all 0.2s linear;
        }
        a {
            color: $brand2;
            h3 {
                margin-bottom: 10px;
            }
            .price {
                .amount {
                    margin: 5px auto;
                    color: lighten($brand1, 15%);
                    font-size: 17px;
                }
            }
            .price {
                text-align: center;
                margin-bottom: 10px;
                del {
                    color: $brand1;
                    .amount {
                        font-size: 17px;
                        color: $brand1;
                    }
                }
                ins {
                    color: transparent;
                    padding: 12px;
                    .amount {
                        font-size: 20px;
                        padding: 0px;
                        color: $error;
                    }
                }
            }
        }
        .add_to_cart_button {
            background-color: $brand1;
            color: $light;
            font-weight: bold;
            display: flex !important;
            align-items: center;
            text-align: center;
            margin-top: auto !important;
            cursor: pointer;
            &:hover {
                background-color: lighten($brand1, 12%);
                text-decoration: none;
                transform: scale(1.05);
                transition: all 0.2s linear;
            }
            span {
                margin-left: auto;
            }
            svg {
                width: 37px;
                height: 24px;
                margin-right: auto;
                margin-left: 10px;
                use {
                    fill: $light;
                }
            }
        }
    }
    &.columns-4 {
        >li.product {
            text-align: center;
            border: 1px $neutro solid;
            margin: 1%;
            max-width: 23% !important;
            display: flex;
            flex-direction: column;
            .add_to_cart_button {
                margin-top: auto;
            }
            @media screen and(max-width: 768px) {
                max-width: 48% !important;
            }
            .woocommerce-loop-product__link {
                display: flex;
                flex-direction: column;
                .price {
                    margin-top: auto;
                }
            }
        }
    }
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: $brand1;
    color: $light;
    &:hover {
        background-color: lighten($brand1, 12%);
    }
}

body.single-product {
    main {
        #breadcrumbs {
            margin-top: 20px;
        }
        .product {
            margin-top: 1rem;
            @include breakpoint(sm) {
                margin-top: 2rem;
            }
            .onsale {
                position: absolute;
                background-color: $brand1;
                color: $light;
                @include border-radius(0);
                left: 0;
                top: 10%;
                height: 40px;
                line-height: 40px;
                padding: 0 1rem;
                border-radius: 3px;
                text-align: center;
            }
            .entry-summary {
                padding-top: 10px;
                h1.product_title {
                    font-weight: normal;
                    text-align: left;
                }


                #product-banner {
                    display: block;
                    width: 100%;
                    margin: 0.5rem 0; 
                       
                    
                    img {
                        width: 100%;
                        height: auto;
                    }

                    &.float {
                        float: right;
                        width: 50%;
                        margin: 0.5rem 0 0.5rem 0.5rem; 
                    }

                }

                .price {
                    text-align: left;
                    margin-bottom: 10px;
                    .amount {
                        font-size: 35px;
                        color: lighten($brand1, 15%);
                    }
                }
                .price {
                    text-align: left;
                    margin-bottom: 10px;
                    del {
                        color: $brand1;
                        .amount {
                            font-size: 20px;
                            color: $brand1;
                        }
                    }
                    ins {
                        color: transparent;
                        padding: 12px;
                        .amount {
                            font-size: 35px;
                            padding: 0px;
                            color: $error;
                        }
                    }
                }
                p {
                    margin-top: 15px;
                }
                .cart {
                    padding: 15px 0px;
                    display: flex;
                    flex-wrap: wrap;
                    .single_variation_wrap {
                        flex: 1;
                    }
                    .woocommerce-variation-add-to-cart {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                    }
                    .quantity {
                        .qty {
                            width: 95%;
                            font-size: 1.5rem;
                            font-weight: bold;
                            text-align: center;
                            background-color: darken($light, 8%) !important;
                        }
                    }
                    .quantity {
                        flex: 1;
                        margin: 0px;
                        padding: 0px;
                        width: 20%;
                        margin-right: auto;
                        input {
                            height: 50px;
                            line-height: 50px;
                            font-size: 20px;
                            padding: 0px 6px;
                            border: 0px;
                            color: $brand2;
                            background-color: lighten($light, 8%);
                            @include border-radius(4px);
                            &:focus {
                                background-color: $brand2;
                                color: $brand1;
                            }
                        }
                    }
                    .button {
                        margin-left: auto;
                        width: 70%;
                        height: 50px;
                        line-height: 50px;
                        font-size: 20px;
                        margin: 0px;
                        padding: 0px 8px;
                        &.disabled {
                            background-color: $neutro !important;
                            cursor: not-allowed;
                            color: darken($neutro, 20%);
                        }
                    }
                }
            }
        }

        #video {
            margin-top: 2rem;
        }

        .video_intro {
            padding: 1.5rem 1rem 1rem 1rem;
            text-align: center;
            margin: 0 auto;

            h3 {
                color: $dark;
                margin: 0;
               
            }

            p {
                
            }
        }
        .video_prodotto {
            background-color: darken($light, 8%);
            margin: 0 0 3rem 0;
            h2 {
                color: $dark;
                margin: 0 0 1rem 0;
            }
        }


        .scheda_tecnica {
            text-align: center;
            padding: 2rem;
        }
    }
}

.woocommerce {
    a {
        color: $brand2;
    }
    .shop_table {
        background-color: lighten($light, 15%);
    }
    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message {
        border-top: 0px;
        text-align: center;
    }
    .woocommerce-message {
        background-color: $success;
        .button {
            background-color: $light;
            color: $brand1;
            padding: 0.25rem 0.5rem;
            border-radius: 4px;
            &:hover {
                background-color: lighten($light, 8%);
            }
        }
    }
    .woocommerce-error {
        background-color: $error;
        color: $light;
    }
    .woocommerce-info {
        background-color: $neutro;
    }
    .related {
        background-color: darken($light, 8%);
        clear: both;
        padding: 20px;
        margin-top: 20px;
        h2 {
            text-align: center;
            font-weight: normal;
            font-size: 20px;
        }
    }
}

.product {
    background-color: $light;
    list-style-type: none;
    border-radius: 3px;
    width: 100%;
    padding-bottom: 5px;
    .woocommerce-loop-product__link {
        color: $dark;
        min-height: 60px;
        img {
            width: 100%;
            height: auto;
            border-radius: 3px 3px 0 0;
        }
        h2.woocommerce-loop-product__title {
            font-size: 1rem !important;
            text-transform: uppercase;
            @include breakpoint(sm) {}
        }
        .price {}
    }
    .button {
        background-color: $brand1;
        color: $light;
        padding: 0.5rem;
        display: block;
        max-width: 100%;
        &.product_type_simple {}
        &.product_type_variable {
            background-color: $brand1;
            color: $light;
        }
        &.add_to_cart_button {}
        &.ajax_add_to_cart {}
    }
}

.single-product {
    .type-product.product {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        .woocommerce-product-gallery {
            width: 50%;
            .woocommerce-product-gallery__wrapper {
                border: 1px solid $neutro;
                .woocommerce-product-gallery__image {
                    display: inline-block;
                }
            }
            .wp-post-image {
                width: 100%;
                height: auto;
            }
        }
        .summary {
            width: 50%;
            padding: 1rem 0 1rem 2.5rem;
            .product_meta {
                font-size: small;
                a {
                    color: $brand1;
                }
            }
        }
        .upsells {
            width: 100%;
            flex: 1;
            margin-top: 1.5rem;
            background-color: white;
            padding: 0;
            h2 {
                text-align: center;
                font-weight: normal;
                font-size: 20px;
            }
            @include breakpoint(sm) {
                background-color: $neutro;
                padding: 20px;
            }
        }
        @media screen and(max-width: 768px) {
            flex-direction: column;
            .woocommerce-product-gallery {
                width: 100%;
            }
            .summary {
                width: 100%;
                padding: 1rem 0 0 0;
            }
        }
    }
}

.related {
    h2 {
        width: 100%;
        text-align: center;
    }
}

.single_variation_wrap {
    margin-top: 1rem;
    .woocommerce-variation-price {
        text-align: right;
    }
}

.variations {
    width: 100%;
    background-color: darken($light, 8%);
    border-radius: 3px;
    .label {
        padding: 1rem;
        color: $dark;
        text-align: left;
    }
    .value {
        padding: 1rem;
        .reset_variations {
            color: $error;
            font-size: 11px;
            font-weight: bold;
            padding: 0.25rem;
            text-transform: uppercase;
            float: right;
        }
        select {
            width: 100% !important;
        }
    }
    @include breakpoint(xs) {
        .label {
            text-align: center;
            padding: 0;
            label {
                padding: 0.5rem;
                align-self: center;
            }
        }
        .value {
            padding: 0;
        }
    }
}

.guarda_video_label {
    font-weight: bold;
    color: $dark;
    font-size: 0.8rem;
    text-transform: uppercase;
    border-radius: 4px;
    margin: 0.25rem auto;
    background-color: $warning;
    padding: 0.15rem 0.5rem;
    animation: blick_label 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

@keyframes blick_label {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    25% {
        opacity: 1;
        transform: scale(1);
    }
    75% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

.free_shipping_label {
    font-weight: bold;
    font-size: 0.8rem;
    display: inline-block;
    margin: 0.25rem auto;
    background-color: $success;
    padding: 0.15rem 0.5rem;
    border-radius: 4px;
    color: $dark;
}

.guida_alle_taglie {
    font-weight: bold;
    font-size: 0.85rem;
    display: block;
    margin: 1rem 0 0 0;
    background-color: lighten($warning, 20%);
    padding: 0.15rem 0.5rem;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    color: $dark;

    &:hover {
        color: $dark;
    }
}

.free_shipping_text {
    font-weight: bold;
    display: block;
    color: $success;
}

.screen-reader-text {
    display: none;
}

.single_add_to_cart_button {
    border: 0px;
    border-radius: 3px;
    background-color: $brand1;
    color: $light;
}


/*
** My Account 
*/

.woocommerce-account {
    .woocommerce {
        background-color: $neutro;
    }
    .u-columns {
        display: flex;
        flex-wrap: wrap;
        .u-column1,
        .u-column2 {
            flex: 1;
            padding: 1rem;
        }
    }
    #customer_login {
        .woocommerce-form-login,
        .woocommerce-form-register {
            background-color: white;
            padding: 1rem;
            height: 100%;
        }
    }
}

.woocommerce-cart-form {
    border: 1px solid $neutro;
}

.woocommerce-cart-form,
#order_review {
    thead {
        background: $brand2;
        color: $light;
        th {
            padding: 0.5rem;
        }
    }
    .shop_table {
        width: 100%;
        thead {
            .product-thumbnail,
            .product-price,
            .product-quantity,
            .product-subtotal {
                text-align: center;
            }
        }
    }
    .woocommerce-cart-form__cart-item {
        border-bottom: 1px solid $info;
        .product-remove {
            .remove {
                color: $brand1;
                font-size: 1.5rem;
                font-weight: bold;
                padding: 0.5rem;
            }
        }
        .product-thumbnail {
            img {
                max-width: 120px;
            }
        }
        .product-name {
            font-weight: bold;

            .item-shipping-class {
                color: gray;
                font-size: 0.8rem;
            }

        }
        .product-price,
        .product-quantity,
        .product-subtotal {
            border-right: 1px solid $neutro;
            padding: 0.25rem;
            text-align: center !important;
        }

      
    }
    .actions {
        background-color: $light;
        border-top: 1px solid $neutro;
        padding: 1rem;

        .coupon {
            width: 60%;
            display: inline-flex;

            label {
                display: none;
            }

            #coupon_code {
                margin: 0px;
                margin-right: 10px;
                padding: 0.25rem 0.5rem;
                border-radius: 5px;
                width: 50%;
                background-color: $light;
                border: 1px solid $dark;
            }

            .button {
                background-color: $light;
                border: 1px solid $dark;
                border-radius: 5px;
                padding: 0.25rem 0.5rem;
                width: 50%;
            }
        }

        >.button {
            background-color: $brand2;
            color: $light;
            border: 1px solid $brand2;
            border-radius: 5px;
            float: right;
            padding: 0.25rem 0.5rem;

            &:disabled {
                opacity: 0.4;
            }
        }
        @media screen and (max-width: 768px) {
            .coupon {
                width: 100%;
            }
            >.button {
                float: none;
                clear: both;
            }
        }
    }
}

.cart-collaterals {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    .cart_totals {
        border: 1px solid $neutro;
        padding: 1rem;
        margin-left: auto;
        width: 100%;
        h2 {
            margin: 0 0 1rem 0;
        }
        .shop_table {
            .cart-subtotal,
            .woocommerce-shipping-totals,
            .order-total {
                border-bottom: 1px solid $neutro;
            }
            width: 100%;
            th {
                text-align: left;
            }
            td {
                text-align: right;
                padding: 0.5rem;
            }
        }
        @include breakpoint(sm) {
            width: 50%;
        }
    }
    .order-total {
        .amount {
            font-size: 1.5rem;
        }
    }
    .wc-proceed-to-checkout {
        margin-top: 1rem;
        text-align: right;
    }
}

.checkout-button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: $brand2;
    border-color: $brand2;
    &:hover {
        background-color: lighten($brand2, 6%);
        border-color: lighten($brand2, 6%);
    }
}

.woocommerce-form-login-toggle {
    text-align: center;
    padding: 0.5rem;
}

.woocommerce-form-coupon-toggle {
    text-align: center;
    .woocommerce-info {
        padding: 1rem;
    }
}

.woocommerce-form-coupon {
    padding: 1rem;
    text-align: center;
    border: 1px solid $neutro;
}

.woocommerce-checkout .woocommerce-checkout {
    @include breakpoint(sm) {
        display: flex;
        flex-wrap: wrap;
    }
    #order_review_heading {
        display: none;
    }
    #customer_details,
    #order_review {
        flex: 1;
        padding: 1rem;
    }

    // fatturazione


    #show_if_invoice_fields {
        background: $neutro;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        margin: 0 0.5rem 0 0.5rem;
         &:after {
            content: '';
            display: block;
            clear: both;
         }
    }

    #ragione_sociale_field,
    #partita_iva_field,
    #codice_fiscale_field,
    #codice_univoco_field {
        display: none;
        width: 50%;
        float: left;

         label {
            font-weight: normal;

            .optional {
                display: none;
            }
         }
    }

    #show_invoice_fields_field {
        padding: 0 1rem 0 1rem;
        text-align: center;

        .checkbox {
            margin-left: 20px;
        }
    }

    .woocommerce-account-fields {
        padding: 0.5rem 1rem;
        border: 1px solid $neutro;
        margin-top: 1rem;
        .create-account {
            text-align: center;
            margin-bottom: 0;
        }
        .checkbox {
            margin-left: 20px;
        }

    }
}

.woocommerce-NoticeGroup-checkout {
    flex: 0 0 100%;
}

#customer_details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .col-1,
    .col-2 {
        flex: 1;
    }
    @include breakpoint(sm) {
        .col-2 {
            margin-top: 1rem;
        }
    }
    .woocommerce-billing-fields {
        border: 1px solid $neutro;
        padding: 1rem;
        #billing_country_field,
        #billing_address_2_field {
            display: none;
        }
    }
    .woocommerce-shipping-fields {
        border: 1px solid $neutro;
        padding: 1rem;
        #ship-to-different-address {
            font-size: 1rem;
            text-align: center;
        }
    }
    .form-row {
        display: block;
        padding: 0.5rem;
        &#billing_first_name_field,
        &#billing_last_name_field,
        &#billing_phone_field,
        &#billing_email_field {
            width: 50%;
            display: inline-block;
        }
        &#billing_postcode_field {
            width: 30%;
            display: inline-block;
        }
        &#billing_city_field {
            width: 40%;
            display: inline-block;
        }
        &#billing_state_field {
            width: 30%;
            display: inline-block;
        }
        .input-text {
            width: 100%;
        }

        .required {
            color: $error;
        }

        .optional {
            font-weight: normal;
        }

        &.woocommerce-invalid {
            input {
                border: 1px solid $error;
            }
        }
    }
}

.page-numbers {
    margin: 1rem 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        a.page-numbers {
            margin: 0 0.25rem;
            line-height: 30px;
            width: 30px;
            height: 30px;
            background-color: $brand1;
            color: $light;
            border-radius: 50%;
            &:hover {
                background-color: lighten($brand1, 8%) !important;
            }
            &.next,
            &.prev {
                background: transparent;
                color: $dark;
            }
        }
        .current {
            margin: 0 0.25rem;
            line-height: 30px;
        }
    }
}

.woocommerce-notices-wrapper {
    margin-bottom: 1rem;
    .woocommerce-message {
        padding: 0.5rem;
    }
}

#shipping_method,
#payment {
    margin: 0 !important;
    padding: 0 !important;
    
    li {
        &:before {
            display: none;
        }

        &:only-child .shipping_method {

            &+ {
                label {
                    opacity: 1;
                    color: $success;
                    border-color: $success;
                }
            }
        }

        .shipping_method {
            display: none;
            &+ {
                label {
                    display: inline-block;
                    color: $brand2;
                    border: 1px solid transparent;
                    padding: 0.5rem;
                    border-radius: 3px;
                    opacity: 0.4;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            &:checked {
                &+ {
                    label {
                        opacity: 1;
                        color: $success;
                        border-color: $success;
                    }
                }
            }
        }


        .wc_payment_method {
            background: $neutro;
        }


    }
}

#payment {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid $neutro;
    .wc_payment_methods {
        >li {
            border: 1px solid $neutro;
            border-radius: 5px;
            margin-top: 1rem;
            position: relative;
            overflow: hidden;
            display: block;
            cursor: pointer;

            &:hover {
                border-color: $brand2;
            }
            > label {
                padding: 0.5em 1rem 0;
                opacity: 1;
                display: flex;
                align-items: center;

                    img {
                        margin-left: auto;
                        margin-right: 0.2rem;
                    }
                    &:before {
                        content: '';
                        width: 16px;
                        height: 16px;
                        margin-right: 5px;
                        border-radius: 50%;
                        border: 1px solid $brand2;
                        text-align: center;
                        font-size: 20px;
                        line-height: 16px;
                    }
            }
            .payment_box {
                padding: 0 0.5rem 0 40px;
                opacity: 1;
            }
            > input {
                position: absolute;
                left: -99999px;
                &:checked {
                    &+label {
                        opacity: 1;
                        &:before {
                            border: 6px solid $success;
                        }
                        &+.payment_box {
                            opacity: 1;
                        }
                    }
                }
            }

            > input:checked + label, 
            > input:checked + label + div {
                background: rgba($success, 0.2);
                margin: 0;
            }

            > input:checked + label + div p {
                margin: 0
            }

            .about_paypal {
                font-size: 0.8rem;
                font-weight: normal;
            }
        }
    }
}

#order_review {
    tbody {
        border-bottom: 1px solid $neutro;
        .cart_item {
            .product-name {
                padding: 0.5rem;

                .item-shipping-class {
                    color: grey;
                    font-size: 0.8rem;
                }
            }
            .product-total {
                padding: 0.5rem;
                text-align: right;
            }
        }
    }
    tfoot {
        .cart-subtotal,
        .fee,
        .shipping,
        .order-total {
            th {
                padding: 0.5rem;
            }
            td {
                padding: 0.5rem;
                text-align: right;
            }
        }
        .order-total {
            td {
                font-size: 1.5rem;
            }
        }
        #shipping_method {
            padding: 0;
        }
    }
    .place-order {
        padding: 0 1rem 1rem 1rem;
        text-align: right;
        #place_order {
            font-size: 1.75rem;
            border-radius: 5px;
            margin-top: 1rem;
            border-color: $brand1;
        }
        .validate-required {
            text-align: left;
            padding: 0 1rem;

            label {
                font-weight: normal;
            }
            
        }

        .woocommerce-privacy-policy-text {
            text-align: left;
            padding: 0.5rem 0;
        }
    }
}

.woocommerce-variation-availability,
.entry-summary {
    padding: 0.25rem 0;
    margin-bottom: 1rem;
    .available-on-backorder {
        font-weight: bold;
        color: $brand3;
    }
    .out-of-stock {
        font-weight: bold;
        color: $brand1;
    }
    .in-stock {
        font-weight: bold;
        color: $success;
    }

    .few-in-stock {
        font-weight: bold;
        color: $brand3;
    }
}

span.onsale {
    position: absolute;
    left: 0;
    width: auto;
    top: 12%;
    padding: 0 1rem;
    color: $light;
    text-align: center;
    height: 24px;
    font-size: 0.8rem;
    line-height: 24px;
    background-color: $brand1;
    @include border-radius(3);
    @include breakpoint(xs) {
        top: 10%;
        padding: 0 0.5rem;
    }
}

.woocommerce-shipping-destination {
    display: none;
}

@media screen and (max-width: 600px) {
    /* Force table to not be like tables anymore */
    .woocommerce-page table.shop_table,
    .woocommerce-page table.shop_table thead,
    .woocommerce-page table.shop_table tbody,
    .woocommerce-page table.shop_table th,
    .woocommerce-page table.shop_table td,
    .woocommerce-page table.shop_table tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    .woocommerce-page table.shop_table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .woocommerce-page table.shop_table tr {
        border-bottom: 1px solid #d2d3d3;
    }
    .woocommerce-cart-form__cart-item {
        display: block !important;
        height: 130px !important;
        display: flex !important;
        align-items: center;
    }
    .woocommerce-page table.shop_table td {
        text-align: left;
        &.product-remove {
            width: 10%;
        }
        &.product-thumbnail {
            width: 30%;
            img {
                max-width: 75px;
            }
        }
        &.product-name {
            width: 60%;
            &:after {
                content: '';
                display: table;
                clear: both;
            }
        }
        &.product-price {
            clear: both;
            width: 20%;
            padding: 0;
            border: 0;
        }
        &.product-quantity {
            width: 20%;
            padding: 0;
            border: 0;
        }
        &.product-subtotal {
            width: 20%;
            padding: 0;
            font-weight: bold;
            &:after {
                content: '';
                display: table;
                clear: both;
            }
        }
    }
    .woocommerce-page table.shop_table {
        border: none;
    }
    .woocommerce-page table.shop_table td.product-spacer {
        height: 10px;
    }
    /*
    
    .woocommerce-page table.shop_table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .woocommerce-page table.shop_table td.product-remove:before {
        content: "Elimina";
    }
    .woocommerce-page table.shop_table td.product-thumbnail:before {
        content: "IMAGE";
    }
    .woocommerce-page table.shop_table td.product-name:before {
        content: "PRODUCT";
    }
    .woocommerce-page table.shop_table td.product-price:before {
        content: "PRICE";
    }
    .woocommerce-page table.shop_table td.product-quantity:before {
        content: "QUANTITY";
    }
    .woocommerce-page table.shop_table td.product-subtotal:before {
        content: "SUBTOTAL";
    }
    .woocommerce-page table.shop_table td.product-total:before {
        content: "TOTAL";
    }

    */
    .woocommerce .quantity,
    .woocommerce #content .quantity,
    .woocommerce-page .quantity,
    .woocommerce-page #content .quantity {
        margin: 0;
    }
    .woocommerce-page table.cart td.actions,
    .woocommerce-page #content table.cart td.actions {
        text-align: left;
        border: 0;
        padding-left: 6px !important;
    }
    .woocommerce-page table.cart td.actions .button.alt,
    .woocommerce-page #content table.cart td.actions .button.alt {
        float: left;
        margin-top: 10px;
    }
    .woocommerce-page table.cart td.actions div,
    .woocommerce-page #content table.cart td.actions div,
    .woocommerce-page table.cart td.actions input,
    .woocommerce-page #content table.cart td.actions input {
        margin-bottom: 10px;
    }
    .woocommerce-page .cart-collaterals .cart_totals {
        float: left;
        width: 100%;
        text-align: left;
    }
    .woocommerce-page .cart-collaterals .cart_totals th,
    .woocommerce-page .cart-collaterals .cart_totals td {
        border: 0 !important;
    }
    .woocommerce-page .cart-collaterals .cart_totals table tr.cart-subtotal td,
    .woocommerce-page .cart-collaterals .cart_totals table tr.shipping td,
    .woocommerce-page .cart-collaterals .cart_totals table tr.total td {
        padding-left: 6px !important;
    }
    .woocommerce-page table.shop_table tr.cart-subtotal td,
    .woocommerce-page table.shop_table tr.shipping td,
    .woocommerce-page table.shop_table tr.total td,
    .woocommerce-page table.shop_table.order_details tfoot th,
    .woocommerce-page table.shop_table.order_details tfoot td {
        padding-left: 6px !important;
        border: 0 !important;
    }
    .woocommerce-page table.shop_table tbody {
        padding-top: 10px;
    }
    .woocommerce .col2-set .col-1,
    .woocommerce-page .col2-set .col-1,
    .woocommerce .col2-set .col-2,
    .woocommerce-page .col2-set .col-2,
    .woocommerce form .form-row-first,
    .woocommerce form .form-row-last,
    .woocommerce-page form .form-row-first,
    .woocommerce-page form .form-row-last {
        float: none;
        width: 100%;
    }
    .woocommerce .order_details ul,
    .woocommerce-page .order_details ul,
    .woocommerce .order_details,
    .woocommerce-page .order_details {
        padding: 0;
    }
    .woocommerce .order_details li,
    .woocommerce-page .order_details li {
        clear: left;
        margin-bottom: 10px;
        border: 0;
    }
    form .actions>.button,
    #order_review .actions>.button {
        float: none !important;
    }
}

.woocommerce-terms-and-conditions {
    font-size: 0.85rem;
    line-height: 1.2;
    text-align: left;
    background: #eee;
    padding: 15px;
    h2 {
        font-size: 1.2rem;
        margin: 0px;
        font-weight: bold;
    }
}
.woocommerce-terms-and-conditions-checkbox-text {
    a {
        text-decoration: underline;
    }
}


/* SHIPPING */

.woocommerce-shipping-fields__field-wrapper {
    #shipping_first_name_field,
    #shipping_last_name_field {
        width: 50%;
        display: inline-block
    }
    #shipping_country_field,
    #shipping_address_2_field {
        display: none !important;
    }
    #shipping_postcode_field,
    #shipping_city_field,
    #shipping_state_field {
        width: 33%;
        display: inline-block;
    }
}

.woocommerce-checkout-review-order-table {
    border: 1px solid $neutro !important;
    @include breakpoint(xs) {
        tfoot {
            display: block;
            width: 100%;
        }
    }
}

#payment {
    border: 1px solid $neutro;
    margin-top: 1rem !important;
}

.woocommerce-additional-fields {
    margin-top: 1rem !important;
}


/* THANK YOU PAGE */

.woocommerce-order-received {
    h1 {
        display: none;
    }
}

.woocommerce-order {
    border: 1px solid $neutro;
    padding: 1rem;
    .woocommerce-notice--success {
        font-size: 2rem;
        text-align: center;
        color: $success;
    }
    .woocommerce-order-overview {
        li {
            list-style-type: none;
            &:before {
                display: none;
            }
        }
    }
    .woocommerce-order-overview~p {
        background-color: $warning;
        padding: 0.5rem;
    }
    .woocommerce-bacs-bank-details {
        background-color: rgba($warning, 0.6);
        padding: 0.5rem;
        .wc-bacs-bank-details-heading {
            font-size: 1rem;
            margin: 0;
            font-weight: bold;
        }
        .wc-bacs-bank-details-account-name {
            font-size: 1rem;
            margin: 0;
        }
        .wc-bacs-bank-details {
            padding: 0;
            li {
                list-style-type: none;
                &:before {
                    display: none;
                }
            }
        }
    }
    .woocommerce-table--order-details {
        width: 100%;
        tr {
            border-bottom: 1px solid $neutro;
            td {
                padding: 0.25rem;
            }
        }
    }
}


/* RECENSIONI */

.product-reviews {
    clear: both;
    margin-top: 1rem;
    background-color: $neutro;
}

#reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1rem;
    #comments {
        width: 100%;
        padding: 1rem;
        @include breakpoint(md) {
            width: 50%;
            margin: 0 auto;
            text-align: left;
        }
        .noreview & {
            display: none;
        }
        .woocommerce-Reviews-title {
            text-align: center;
            font-weight: normal;
            font-size: 20px;
            line-height: 1.3;
            margin: 0;
            @include breakpoint(md) {
                text-align: left;
            }
            span {
                &:before {
                    content: '';
                    display: block;
                }
                font-weight: bold;
            }
        }
        .woocommerce-noreviews {
            text-align: center;
            @include breakpoint(md) {
                text-align: left;
            }
        }
        ol.commentlist {
            padding: 0px;
            display: flex;
            flex-direction: column;
            .review,
            .comment {
                list-style-type: none !important;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 1rem;
                .comment_container {
                    .comment-text {
                        .star-rating {
                            display: none;
                        }
                        .meta {
                            font-size: 0.9rem;
                            .woocommerce-review__author {
                                font-weight: bold;
                            }
                            .verified {
                                color: $success;
                            }
                            .woocommerce-review__dash {
                                display: none;
                            }
                            time {
                                font-size: 0.8rem;
                            }
                        }
                        .description {
                            border-radius: 8px;
                            background-color: $light;
                            padding: 0.5rem;
                            position: relative;
                            &:before {
                                content: '';
                                top: -7px;
                                left: 20px;
                                position: absolute;
                                width: 16px;
                                height: 16px;
                                background-color: $light;
                                transform: rotate(45deg);
                            }
                            p {
                                margin: 0px;
                            }
                        }
                        .stars {
                            unicode-bidi: bidi-override;
                            text-align: right;
                            span {
                                &:before {
                                    content: "\2605";
                                    color: $warning;
                                }
                            }
                        }
                    }
                }
                /*
                &.even {
                    margin-right: auto;
                }
                &.odd {
                    margin-left: auto;
                    .meta {
                        text-align: right;
                    }
                    .description {
                        &:before {
                            left: auto !important;
                            right: 20px !important;
                        }
                    }
                }
                */
            }
        }
    }
    .must-log-in {
        padding: 2rem 0;
        a {
            font-weight: bold;
            text-decoration: underline;
        }
        .noreview & {
            text-align: center;
        }
    }
    #review_form_wrapper {
        padding: 1rem;
        width: 100%;
        @include breakpoint(md) {
            width: 50%;
            margin: 0 auto;
            .noreview & {
                width: 80%;
            }
        }
        #reply-title {
            text-align: center;
            display: block;
            font-size: 20px;
            line-height: 1.3;
            font-weight: 300;
            @include breakpoint(md) {
                text-align: left;
                .noreview & {
                    text-align: center;
                }
            }
        }
        #commentform {
            padding: 2rem 0 0 0;
            text-align: center;
            .comment-form-rating {
                display: none;
            }
            .comment-form-rating-custom {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 10px 0;
                @include breakpoint(md) {
                    text-align: left;
                    flex-direction: row;
                    justify-content: left;
                    align-items: center;
                }
                label {
                    font-weight: normal;
                    max-width: 40%;
                    .required {
                        color: $error;
                    }
                }
                .stars {
                    margin: 0;
                    span {
                        direction: rtl;
                        unicode-bidi: bidi-override;
                        align-items: center;
                        >a {
                            position: relative;
                            display: inline-block;
                            padding: 0px;
                            width: 25px;
                            height: 25px;
                            overflow: hidden;
                            visibility: hidden;
                            &:after {
                                font-size: 1.6rem;
                                visibility: visible;
                                color: lighten($brand2, 65%);
                                content: "\2605";
                                top: 0;
                                left: 0;
                                position: absolute;
                                width: 25px;
                                height: 25px;
                                line-height: 25px;
                                text-align: center;
                            }
                            &.active {
                                &:after {
                                    color: $warning;
                                }
                                &~a {
                                    &:after {
                                        color: $warning;
                                    }
                                }
                            }
                            &:hover,
                            &:hover~a {
                                &:after {
                                    color: $warning;
                                    content: "\2605";
                                }
                            }
                        }
                    }
                }
            }
            .comment-form-comment {
                display: flex;
                justify-content: center;
                flex-direction: column;
                label {
                    font-weight: normal;
                    .required {
                        color: $error;
                    }
                }
                #comment {
                    max-height: 150px;
                    border-radius: 5px;
                    border: 0px;
                    border: 1px solid $brand2;
                    padding: 0.5rem
                }
            }
            .review-legal-info {
                text-align: left;
                font-size: 0.8rem;
                a {
                    text-decoration: underline;
                }
            }
            .form-submit {
                text-align: right;
                #submit {
                    border: 0px;
                    border-radius: 5px;
                    font-size: 1.3rem;
                    color: $light;
                    @extend .btn;
                    @extend .btn-danger;
                }
            }
        }
    }
}


/* star rating average */

.entry-summary {
    .reviews-average {
        display: flex;
        a {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            &:hover {
                color: lighten($brand2, 65%);
            }
            .reviews-counter {
                flex: 1;
                white-space: nowrap;
                .n {
                    font-weight: bold;
                }
            }
            .star-ratings-css {
                flex: auto;
                margin-right: auto;
                margin-left: 10px;
            }
        }
        .star-ratings-css {
            display: block;
            position: relative;
            margin: 0;
            width: 100%;
        }
    }
    .star-ratings-css {
        unicode-bidi: bidi-override;
        font-size: 24px;
        margin-right: 0.5rem;
        position: relative;
        padding: 0;
        span {
            color: lighten($brand2, 65%) !important;
        }
        &-top {
            padding: 0;
            position: absolute;
            z-index: 1;
            display: block;
            top: 0;
            left: 0;
            overflow: hidden;
            span {
                color: $warning !important;
            }
        }
        &-bottom {
            padding: 0;
            display: block;
            z-index: 0;
        }
    }
}

.products .product {
    .reviews-average {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: center;
        .reviews-counter {
            margin-left: auto;
            font-size: 0.8rem;
            white-space: nowrap;
            color: lighten($brand2, 65%);
            .n {
                font-weight: bold;
            }
        }
        .star-ratings-css {
            unicode-bidi: bidi-override;
            font-size: 16px;
            position: relative;
            padding: 0;
            text-align: left;
            margin-right: auto;
            margin-left: 5px;
            span {
                color: lighten($brand2, 65%) !important;
            }
            &-top {
                padding: 0;
                position: absolute;
                z-index: 1;
                display: block;
                top: 0;
                left: 0;
                overflow: hidden;
                span {
                    color: $warning !important;
                }
            }
            &-bottom {
                padding: 0;
                display: block;
                z-index: 0;
            }
        }
    }
}

.cart_spedizione_gratuita {
    text-align: center;
    padding: 0.5rem 1rem;
    background: rgba($warning, 0.6);
    border-radius: 4px;

    & + .cart_spedizione_gratuita {
        display: none;
    }

    h5 {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }
}