body.woocommerce-page {
    h1 {
        text-align: center;
        font-size: 2rem;
    }
    .page-description {
        text-align: center;
    }
    .woocommerce-result-count,
    .woocommerce-ordering {
        display: none;
    }
}

.products {
    padding: 0;
}

ul.products {
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    >li.product {
        background-color: lighten($light, 5%);
        padding: 11px !important;
        text-align: center;
        list-style-type: none;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        position: relative !important;
        transition: all 0.2s linear;
        &:hover {
            transform: scale(1.05);
            transition: all 0.2s linear;
        }
        a {
            color: $brand2;
            h3 {
                margin-bottom: 10px;
            }
            .price {
                .amount {
                    margin: 5px auto;
                    color: lighten($brand1, 15%);
                    font-size: 17px;
                }
            }
            .price {
                text-align: center;
                margin-bottom: 10px;
                del {
                    color: $brand1;
                    .amount {
                        font-size: 17px;
                        color: $brand1;
                    }
                }
                ins {
                    color: transparent;
                    padding: 12px;
                    .amount {
                        font-size: 20px;
                        padding: 0px;
                        color: $error;
                    }
                }
            }
        }
        .add_to_cart_button {
            background-color: $brand1;
            color: $light;
            font-weight: bold;
            display: flex !important;
            align-items: center;
            text-align: center;
            margin-top: auto !important;
            cursor: pointer;
            &:hover {
                background-color: lighten($brand1, 12%);
                text-decoration: none;
                transform: scale(1.05);
                transition: all 0.2s linear;
            }
            span {
                margin-left: auto;
            }
            svg {
                width: 37px;
                height: 24px;
                margin-right: auto;
                margin-left: 10px;
                use {
                    fill: $light;
                }
            }
        }
    }
    &.columns-4 {
        >li.product {
            text-align: center;
            border: 1px $neutro solid;
            margin: 1%;
            max-width: 23% !important;
            display: flex;
            flex-direction: column;
            .add_to_cart_button {
                margin-top: auto;
            }
            @media screen and(max-width: 768px) {
                max-width: 48% !important;
            }
            .woocommerce-loop-product__link {
                display: flex;
                flex-direction: column;
                .price {
                    margin-top: auto;
                }
            }
        }
    }
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: $brand1;
    color: $light;
    &:hover {
        background-color: lighten($brand1, 12%);
    }
}

body.single-product {
    main {
        #breadcrumbs {
            margin-top: 20px;
        }
        .product {
            margin-top: 1rem;
            @include breakpoint(sm) {
                margin-top: 2rem;
            }
            .onsale {
                position: absolute;
                background-color: $brand1;
                color: $light;
                @include border-radius(0);
                left: 0;
                top: 10%;
                height: 40px;
                line-height: 40px;
                padding: 0 1rem;
                border-radius: 3px;
                text-align: center;
            }
            .entry-summary {
                padding-top: 10px;
                h1.product_title {
                    font-weight: normal;
                    text-align: left;
                }
                .price {
                    text-align: left;
                    margin-bottom: 10px;
                    .amount {
                        font-size: 35px;
                        color: lighten($brand1, 15%);
                    }
                }
                .price {
                    text-align: left;
                    margin-bottom: 10px;
                    del {
                        color: $brand1;
                        .amount {
                            font-size: 20px;
                            color: $brand1;
                        }
                    }
                    ins {
                        color: transparent;
                        padding: 12px;
                        .amount {
                            font-size: 35px;
                            padding: 0px;
                            color: $error;
                        }
                    }
                }
                p {
                    margin-top: 15px;
                }
                .cart {
                    padding: 15px 0px;
                    .quantity {
                        .qty {
                            font-size: 1.5rem;
                            font-weight: bold;
                            text-align: center;
                            background-color: darken($light, 8%) !important;
                        }
                    }
                    .quantity {
                        margin: 0px;
                        padding: 0px;
                        width: 20%;
                        float: left;
                        input {
                            height: 50px;
                            line-height: 50px;
                            font-size: 20px;
                            padding: 0px 6px;
                            border: 0px;
                            color: $brand2;
                            background-color: lighten($light, 8%);
                            @include border-radius(4px);
                            &:focus {
                                background-color: $brand2;
                                color: $brand1;
                            }
                        }
                    }
                    .button {
                        width: 75%;
                        float: right;
                        height: 50px;
                        line-height: 50px;
                        font-size: 20px;
                        margin: 0px;
                        padding: 0px 8px;
                        &.disabled {
                            background-color: $neutro !important;
                            cursor: not-allowed;
                            color: darken($neutro, 20%);
                        }
                    }
                }
            }
        }
        .video_prodotto {
            background-color: darken($light, 8%);
            margin: 1.5rem 0;
            h2 {
                color: $dark;
                margin: 0 0 1rem 0;
            }
        }
    }
    .woocommerce-tabs {
        display: none;
    }
}

.woocommerce {
    a {
        color: $brand2;
    }
    .shop_table {
        background-color: lighten($light, 15%);
    }
    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message {
        border-top: 0px;
    }
    .woocommerce-message {
        background-color: $success;
        .button {
            background-color: $light;
            color: $brand1;
            padding: 0.25rem 0.5rem;
            border-radius: 4px;
            &:hover {
                background-color: lighten($light, 8%);
            }
        }
    }
    .woocommerce-error {
        background-color: $error;
        color: $light;
    }
    .woocommerce-info {
        background-color: $neutro;
    }
    .related {
        background-color: darken($light, 8%);
        clear: both;
        padding: 20px;
        margin-top: 20px;
        h2 {
            text-align: center;
            font-weight: normal;
            font-size: 20px;
        }
    }
}

.product {
    background-color: $light;
    list-style-type: none;
    border-radius: 3px;
    width: 100%;
    padding-bottom: 5px;
    .woocommerce-loop-product__link {
        color: $dark;
        min-height: 60px;
        img {
            width: 100%;
            height: auto;
            border-radius: 3px 3px 0 0;
        }
        h2.woocommerce-loop-product__title {
            font-size: 1rem;
            text-transform: uppercase;
        }
        .price {}
    }
    .button {
        background-color: $brand1;
        color: $light;
        padding: 0.5rem;
        display: block;
        max-width: 100%;
        &.product_type_simple {}
        &.product_type_variable {
            background-color: $brand1;
            color: $light;
        }
        &.add_to_cart_button {}
        &.ajax_add_to_cart {}
    }
}

.single-product {
    .type-product.product {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        .woocommerce-product-gallery {
            width: 50%;
            .woocommerce-product-gallery__wrapper {
                border: 1px solid $neutro;
                .woocommerce-product-gallery__image {
                    display: inline-block;
                }
            }
            .wp-post-image {
                width: 100%;
                height: auto;
            }
        }
        .summary {
            width: 50%;
            padding: 1rem 0 1rem 2.5rem;
            .product_meta {
                font-size: small;
                a {
                    color: $brand1;
                }
            }
        }
        .upsells {
            width: 100%;
            background-color: $neutro;
            flex: 1;
            padding: 20px;
            margin-top: 1.5rem;
            h2 {
                text-align: center;
                font-weight: normal;
                font-size: 20px;
            }
        }
        @media screen and(max-width: 768px) {
            flex-direction: column;
            .woocommerce-product-gallery {
                width: 100%;
            }
            .summary {
                width: 100%;
                padding: 1rem 0 0 0;
            }
        }
    }
}

.related {
    h2 {
        width: 100%;
        text-align: center;
    }
}

.single_variation_wrap {
    margin-top: 1rem;
    .woocommerce-variation-price {
        text-align: right;
    }
}

.variations {
    width: 100%;
    background-color: darken($light, 8%);
    border-radius: 3px;
    .label {
        padding: 1rem;
        color: $dark;
        text-align: left;
    }
    .value {
        padding: 1rem;
        .reset_variations {
            color: $error;
            font-size: 11px;
            font-weight: bold;
            padding: 0.25rem;
            text-transform: uppercase;
            float: right;
        }
    }
    @include breakpoint(xs) {
        .label {
            text-align: center;
            padding: 0;
            label {
                padding: 0.5rem;
                align-self: center;
            }
        }
        .value {
            padding: 0;
            select {
                margin: 0.5rem;
            }
        }
    }
}

.free_shipping_label {
    font-weight: bold;
    font-size: 0.8rem;
    display: inline-block;
    margin: 0.25rem auto;
    background-color: $success;
    padding: 0.15rem 0.5rem;
    border-radius: 4px;
    color: $dark;
}

.free_shipping_text {
    font-weight: bold;
    display: block;
    color: $success;
}

.screen-reader-text {
    display: none;
}

.single_add_to_cart_button {
    border: 0px;
    border-radius: 3px;
    background-color: $brand1;
    color: $light;
}


/*
** My Account 
*/

.woocommerce-account {
    .woocommerce {
        background-color: $neutro;
    }
    .u-columns {
        display: flex;
        flex-wrap: wrap;
        .u-column1,
        .u-column2 {
            flex: 1;
            padding: 1rem;
        }
    }
    #customer_login {
        .woocommerce-form-login,
        .woocommerce-form-register {
            background-color: white;
            padding: 1rem;
            height: 100%;
        }
    }
}

.woocommerce-cart-form {
    border: 1px solid $neutro;
}

.woocommerce-cart-form,
#order_review {
    thead {
        background: $brand2;
        color: $light;
        th {
            padding: 0.5rem;
        }
    }
    .shop_table {
        width: 100%;
        thead {
            .product-thumbnail,
            .product-price,
            .product-quantity,
            .product-subtotal {
                text-align: center;
            }
        }
    }
    .woocommerce-cart-form__cart-item {
        .product-remove {
            .remove {
                color: $brand1;
                font-size: 1.5rem;
                font-weight: bold;
                padding: 0.5rem;
            }
        }
        .product-thumbnail {
            img {
                max-width: 120px;
            }
        }
        .product-name {
            font-weight: bold;
        }
        .product-price,
        .product-quantity,
        .product-subtotal {
            border-right: 1px solid $neutro;
            padding: 0.25rem;
            text-align: center !important;
        }
    }
    .actions {
        background-color: $light;
        border-top: 1px solid $neutro;
        padding: 1rem;
        .coupon {
            .button {
                background-color: $light;
                border: 1px solid $dark;
                border-radius: 5px;
            }
        }
        >.button {
            float: right;
            background-color: $brand2;
            color: $light;
            border: 1px solid $brand2;
            border-radius: 5px;
            &:disabled {
                opacity: 0.3;
            }
        }
    }
}

.cart-collaterals {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    .cart_totals {
        border: 1px solid $neutro;
        padding: 1rem;
        margin-left: auto;
        width: 100%;
        h2 {
            margin: 0 0 1rem 0;
        }
        .shop_table {
            .cart-subtotal,
            .woocommerce-shipping-totals,
            .order-total {
                border-bottom: 1px solid $neutro;
            }
            width: 100%;
            th {
                text-align: left;
            }
            td {
                text-align: right;
                padding: 0.5rem;
            }
        }
        @include breakpoint(sm) {
            width: 50%;
        }
    }
    .order-total {
        .amount {
            font-size: 1.5rem;
        }
    }
    .wc-proceed-to-checkout {
        margin-top: 1rem;
        text-align: right;
    }
}

.checkout-button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: $brand2;
    border-color: $brand2;
    &:hover {
        background-color: lighten($brand2, 6%);
        border-color: lighten($brand2, 6%);
    }
}

.woocommerce-form-login-toggle {
    text-align: center;
    padding: 0.5rem;
}

.woocommerce-form-coupon-toggle {
    text-align: center;
    .woocommerce-info {
        padding: 1rem;
    }
}

.woocommerce-form-coupon {
    padding: 1rem;
    text-align: center;
    border: 1px solid $neutro;
}

.woocommerce-checkout .woocommerce-checkout {
    @include breakpoint(sm) {
        display: flex;
        flex-wrap: wrap;
    }
    #order_review_heading {
        display: none;
    }
    #customer_details,
    #order_review {
        flex: 1;
        padding: 1rem;
    }
}

.woocommerce-NoticeGroup-checkout {
    flex: 0 0 100%;
}

#customer_details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .col-1,
    .col-2 {
        flex: 1;
    }
    @include breakpoint(sm) {
        .col-2 {
            margin-top: 1rem;
        }
    }
    .woocommerce-billing-fields {
        border: 1px solid $neutro;
        padding: 1rem;
        #billing_country_field,
        #billing_address_2_field {
            display: none;
        }
    }
    .woocommerce-shipping-fields {
        border: 1px solid $neutro;
        padding: 1rem;
        #ship-to-different-address {
            font-size: 1rem;
            text-align: center;
        }
    }
    .form-row {
        display: block;
        padding: 0.5rem;
        &#billing_first_name_field,
        &#billing_last_name_field,
        &#billing_phone_field,
        &#billing_email_field {
            width: 50%;
            display: inline-block;
        }
        &#billing_postcode_field {
            width: 30%;
            display: inline-block;
        }
        &#billing_city_field {
            width: 40%;
            display: inline-block;
        }
        &#billing_state_field {
            width: 30%;
            display: inline-block;
        }
        .input-text {
            width: 100%;
        }
    }
}

.page-numbers {
    margin: 1rem 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        a.page-numbers {
            margin: 0 0.25rem;
            line-height: 30px;
            width: 30px;
            height: 30px;
            background-color: $brand1;
            color: $light;
            border-radius: 50%;
            &:hover {
                background-color: lighten($brand1, 8%) !important;
            }
            &.next,
            &.prev {
                background: transparent;
                color: $dark;
            }
        }
        .current {
            margin: 0 0.25rem;
            line-height: 30px;
        }
    }
}

.woocommerce-notices-wrapper {
    .woocommerce-message {
        padding: 0.5rem;
    }
}

#shipping_method,
#payment {
    margin: 0 !important;
    padding: 0 !important;
    li {
        &:before {
            display: none;
        }
        .shipping_method {
            display: none;
            &+ {
                label {
                    display: inline-block;
                    color: $brand2;
                    border: 1px solid transparent;
                    padding: 0.5rem;
                    border-radius: 3px;
                    opacity: 0.4;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            &:checked {
                &+ {
                    label {
                        opacity: 1;
                        color: $success;
                        border-color: $success;
                    }
                }
            }
        }
        .wc_payment_method {
            background: $neutro;
        }
    }
}

#payment {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid $neutro;
    .wc_payment_methods {
        li {
            border: 1px solid $neutro;
            margin-top: 1rem;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            label {
                padding: 0.5rem 0.5rem 0;
                opacity: 0.4;
                display: flex;
                &:before {
                    content: '';
                    width: 16px;
                    height: 16px;
                    margin-right: 5px;
                    border-radius: 50%;
                    border: 1px solid $brand2;
                    text-align: center;
                    font-size: 20px;
                    line-height: 16px;
                }
            }
            .payment_box {
                padding: 0 0.5rem 0 40px;
                opacity: 0.4;
            }
            input {
                position: absolute;
                left: -99999px;
                &:checked {
                    &+label {
                        opacity: 1;
                        &:before {
                            border: 6px solid $brand2;
                        }
                        &+.payment_box {
                            opacity: 1;
                        }
                    }
                }
            }
            .about_paypal {
                font-size: 0.8rem;
                font-weight: normal;
            }
        }
    }
}

#order_review {
    tbody {
        border-bottom: 1px solid $neutro;
        .cart_item {
            .product-name {
                padding: 0.5rem;
            }
            .product-total {
                padding: 0.5rem;
                text-align: right;
            }
        }
    }
    tfoot {
        .cart-subtotal,
        .fee,
        .shipping,
        .order-total {
            th {
                padding: 0.5rem;
            }
            td {
                padding: 0.5rem;
                text-align: right;
            }
        }
        .order-total {
            td {
                font-size: 1.5rem;
            }
        }
        #shipping_method {
            padding: 0;
        }
    }
    .place-order {
        padding: 1rem;
        text-align: right;
        #place_order {
            font-size: 1.75rem;
            border-radius: 5px;
            border-color: $brand1;
        }
        .validate-required {
            text-align: center;
        }
    }
}

.woocommerce-variation-availability {
    padding: 0.25rem 0;
    margin-bottom: 1rem;
    .available-on-backorder {
        font-weight: bold;
        color: $brand3;
    }
    .out-of-stock {
        font-weight: bold;
        color: $brand1;
    }
    .in-stock {
        font-weight: bold;
        color: $success;
    }
}

span.onsale {
    position: absolute;
    left: 0;
    width: auto;
    top: 12%;
    padding: 0 1rem;
    color: $light;
    text-align: center;
    height: 24px;
    font-size: 0.8rem;
    line-height: 24px;
    background-color: $brand1;
    @include border-radius(3);
    @include breakpoint(xs) {
        top: 10%;
        padding: 0 0.5rem;
    }
}

.woocommerce-shipping-destination {
    display: none;
}

@media screen and (max-width: 600px) {
    /* Force table to not be like tables anymore */
    .woocommerce-page table.shop_table,
    .woocommerce-page table.shop_table thead,
    .woocommerce-page table.shop_table tbody,
    .woocommerce-page table.shop_table th,
    .woocommerce-page table.shop_table td,
    .woocommerce-page table.shop_table tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    .woocommerce-page table.shop_table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .woocommerce-page table.shop_table tr {
        border-bottom: 1px solid #d2d3d3;
    }
    .woocommerce-cart-form__cart-item {
        display: block !important;
        height: 130px !important;
        display: flex !important;
        align-items: center;
    }
    .woocommerce-page table.shop_table td {
        text-align: left;
        &.product-remove {
            width: 10%;
        }
        &.product-thumbnail {
            width: 30%;
            img {
                max-width: 75px;
            }
        }
        &.product-name {
            width: 60%;
            &:after {
                content: '';
                display: table;
                clear: both;
            }
        }
        &.product-price {
            clear: both;
            width: 20%;
            padding: 0;
            border: 0;
        }
        &.product-quantity {
            width: 20%;
            padding: 0;
            border: 0;
        }
        &.product-subtotal {
            width: 20%;
            padding: 0;
            font-weight: bold;
            &:after {
                content: '';
                display: table;
                clear: both;
            }
        }
    }
    .woocommerce-page table.shop_table {
        border: none;
    }
    .woocommerce-page table.shop_table td.product-spacer {
        height: 10px;
    }
    /*
    
    .woocommerce-page table.shop_table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .woocommerce-page table.shop_table td.product-remove:before {
        content: "Elimina";
    }
    .woocommerce-page table.shop_table td.product-thumbnail:before {
        content: "IMAGE";
    }
    .woocommerce-page table.shop_table td.product-name:before {
        content: "PRODUCT";
    }
    .woocommerce-page table.shop_table td.product-price:before {
        content: "PRICE";
    }
    .woocommerce-page table.shop_table td.product-quantity:before {
        content: "QUANTITY";
    }
    .woocommerce-page table.shop_table td.product-subtotal:before {
        content: "SUBTOTAL";
    }
    .woocommerce-page table.shop_table td.product-total:before {
        content: "TOTAL";
    }

    */
    .woocommerce .quantity,
    .woocommerce #content .quantity,
    .woocommerce-page .quantity,
    .woocommerce-page #content .quantity {
        margin: 0;
    }
    .woocommerce-page table.cart td.actions,
    .woocommerce-page #content table.cart td.actions {
        text-align: left;
        border: 0;
        padding-left: 6px !important;
    }
    .woocommerce-page table.cart td.actions .button.alt,
    .woocommerce-page #content table.cart td.actions .button.alt {
        float: left;
        margin-top: 10px;
    }
    .woocommerce-page table.cart td.actions div,
    .woocommerce-page #content table.cart td.actions div,
    .woocommerce-page table.cart td.actions input,
    .woocommerce-page #content table.cart td.actions input {
        margin-bottom: 10px;
    }
    .woocommerce-page .cart-collaterals .cart_totals {
        float: left;
        width: 100%;
        text-align: left;
    }
    .woocommerce-page .cart-collaterals .cart_totals th,
    .woocommerce-page .cart-collaterals .cart_totals td {
        border: 0 !important;
    }
    .woocommerce-page .cart-collaterals .cart_totals table tr.cart-subtotal td,
    .woocommerce-page .cart-collaterals .cart_totals table tr.shipping td,
    .woocommerce-page .cart-collaterals .cart_totals table tr.total td {
        padding-left: 6px !important;
    }
    .woocommerce-page table.shop_table tr.cart-subtotal td,
    .woocommerce-page table.shop_table tr.shipping td,
    .woocommerce-page table.shop_table tr.total td,
    .woocommerce-page table.shop_table.order_details tfoot th,
    .woocommerce-page table.shop_table.order_details tfoot td {
        padding-left: 6px !important;
        border: 0 !important;
    }
    .woocommerce-page table.shop_table tbody {
        padding-top: 10px;
    }
    .woocommerce .col2-set .col-1,
    .woocommerce-page .col2-set .col-1,
    .woocommerce .col2-set .col-2,
    .woocommerce-page .col2-set .col-2,
    .woocommerce form .form-row-first,
    .woocommerce form .form-row-last,
    .woocommerce-page form .form-row-first,
    .woocommerce-page form .form-row-last {
        float: none;
        width: 100%;
    }
    .woocommerce .order_details ul,
    .woocommerce-page .order_details ul,
    .woocommerce .order_details,
    .woocommerce-page .order_details {
        padding: 0;
    }
    .woocommerce .order_details li,
    .woocommerce-page .order_details li {
        clear: left;
        margin-bottom: 10px;
        border: 0;
    }
    form .actions>.button,
    #order_review .actions>.button {
        float: none !important;
    }
}

.woocommerce-terms-and-conditions-checkbox-text {
    a {
        text-decoration: underline;
    }
}


/* SHIPPING */

.woocommerce-shipping-fields__field-wrapper {
    #shipping_first_name_field,
    #shipping_last_name_field {
        width: 50%;
        display: inline-block
    }
    #shipping_country_field,
    #shipping_address_2_field {
        display: none !important;
    }
    #shipping_postcode_field,
    #shipping_city_field,
    #shipping_state_field {
        width: 33%;
        display: inline-block;
    }
}

.woocommerce-checkout-review-order-table {
    border: 1px solid $neutro !important;
    @include breakpoint(xs) {
        tfoot {
            display: block;
            width: 100%;
        }
    }
}

#payment {
    border: 1px solid $neutro;
    margin-top: 1rem !important;
}

.woocommerce-additional-fields {
    margin-top: 1rem !important;
}


/* THANK YOU PAGE */

.woocommerce-order-received {
    h1 {
        display: none;
    }
}

.woocommerce-order {
    border: 1px solid $neutro;
    padding: 1rem;
    .woocommerce-notice--success {
        font-size: 2rem;
        text-align: center;
        color: $success;
    }
    .woocommerce-order-overview {
        li {
            list-style-type: none;
            &:before {
                display: none;
            }
        }
    }
    .woocommerce-order-overview~p {
        background-color: $warning;
        padding: 0.5rem;
    }
    .woocommerce-bacs-bank-details {
        background-color: rgba($warning, 0.6);
        padding: 0.5rem;
        .wc-bacs-bank-details-heading {
            font-size: 1rem;
            margin: 0;
            font-weight: bold;
        }
        .wc-bacs-bank-details-account-name {
            font-size: 1rem;
            margin: 0;
        }
        .wc-bacs-bank-details {
            padding: 0;
            li {
                list-style-type: none;
                &:before {
                    display: none;
                }
            }
        }
    }
    .woocommerce-table--order-details {
        width: 100%;
        tr {
            border-bottom: 1px solid $neutro;
            td {
                padding: 0.25rem;
            }
        }
    }
}