body.woocommerce-page {
    h1 {
        text-align: center;
    }
    .page-description {
        text-align: center;
    }
    .woocommerce-result-count,
    .woocommerce-ordering {
        display: none;
    }
}

.products {
    padding: 0;
}

ul.products {
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    >li.product {
        background-color: lighten($light, 5%);
        padding: 11px !important;
        text-align: center;
        list-style-type: none;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        position: relative !important;
        transition: all 0.2s linear;
        &:hover {
            transform: scale(1.05);
            transition: all 0.2s linear;
        }
        a {
            color: $brand2;
            h3 {
                margin-bottom: 10px;
            }
            span.onsale {
                right: 5px;
                top: 5px;
                background-color: $error;
                @include border-radius(0);
            }
            .price {
                .amount {
                    margin: 5px auto;
                    color: lighten($brand1, 15%);
                    font-size: 17px;
                }
            }
            .price {
                text-align: center;
                margin-bottom: 10px;
                del {
                    color: $brand1;
                    .amount {
                        font-size: 17px;
                        color: $brand1;
                    }
                }
                ins {
                    color: transparent;
                    padding: 12px;
                    .amount {
                        font-size: 20px;
                        padding: 0px;
                        color: $error;
                    }
                }
            }
        }
        .add_to_cart_button {
            background-color: $brand1;
            color: $light;
            font-weight: bold;
            display: block;
            text-align: center;
            margin-top: auto !important;
            &:hover {
                background-color: lighten($brand1, 12%);
                text-decoration: none;
                transform: scale(1.05);
                transition: all 0.2s linear;
            }
        }
    }
    &.columns-4 {
        >li.product {
            text-align: center;
            border: 1px $neutro solid;
            margin: 1%;
            max-width: 23% !important;
            display: flex;
            flex-direction: column;
            .add_to_cart_button {
                margin-top: auto;
            }
            @media screen and(max-width: 768px) {
                max-width: 48% !important;
            }
            .woocommerce-loop-product__link {
                display: flex;
                flex-direction: column;
                .price {
                    margin-top: auto;
                }
            }
        }
    }
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: $brand1;
    color: $light;
    &:hover {
        background-color: lighten($brand1, 12%);
    }
}

body.single-product {
    main {
        #breadcrumbs {
            margin-top: 20px;
        }
        .product {
            margin-top: 30px;
            .onsale {
                background-color: $error;
                @include border-radius(0);
                left: 10px;
                top: 10px;
            }
            .entry-summary {
                padding-top: 10px;
                h1.product_title {
                    font-weight: normal;
                    text-align: left;
                }
                .price {
                    text-align: left;
                    margin-bottom: 10px;
                    .amount {
                        font-size: 35px;
                        color: lighten($brand1, 15%);
                    }
                }
                .price {
                    text-align: left;
                    margin-bottom: 10px;
                    del {
                        color: $brand1;
                        .amount {
                            font-size: 20px;
                            color: $brand1;
                        }
                    }
                    ins {
                        color: transparent;
                        padding: 12px;
                        .amount {
                            font-size: 35px;
                            padding: 0px;
                            color: $error;
                        }
                    }
                }
                p {
                    margin-top: 15px;
                }
                .cart {
                    padding: 15px 0px;
                    .quantity {
                        margin: 0px;
                        padding: 0px;
                        width: 20%;
                        float: left;
                        input {
                            height: 50px;
                            line-height: 50px;
                            font-size: 20px;
                            padding: 0px 6px;
                            border: 0px;
                            color: $brand2;
                            background-color: lighten($light, 8%);
                            @include border-radius(4px);
                            &:focus {
                                background-color: $brand2;
                                color: $brand1;
                            }
                        }
                    }
                    .button {
                        width: 75%;
                        float: right;
                        height: 50px;
                        line-height: 50px;
                        font-size: 20px;
                        margin: 0px;
                        padding: 0px 8px;
                    }
                }
            }
        }
        .video_prodotto {
            background-color: darken($light, 8%);
            margin: 1.5rem 0;
            h2 {
                color: $dark;
                margin: 0 0 1rem 0;
            }
        }
    }
    .woocommerce-tabs {
        display: none;
    }
}

.woocommerce {
    a {
        color: $brand2;
    }
    .shop_table {
        background-color: lighten($light, 15%);
    }
    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message {
        border-top: 0px;
    }
    .woocommerce-message {
        background-color: $success;
        .button {
            background-color: $light;
            color: $brand1;
            &:hover {
                background-color: lighten($light, 8%);
            }
        }
    }
    .woocommerce-error {
        background-color: $error;
    }
    .woocommerce-info {
        background-color: $neutro;
    }
    .related {
        background-color: darken($light, 8%);
        clear: both;
        padding: 20px;
        margin-top: 20px;
        h2 {
            text-align: center;
            font-weight: normal;
            font-size: 20px;
        }
    }
}

.product {
    background-color: $light;
    list-style-type: none;
    border-radius: 3px;
    width: 100%;
    padding-bottom: 5px;
    .woocommerce-loop-product__link {
        color: $dark;
        min-height: 60px;
        img {
            width: 100%;
            height: auto;
            border-radius: 3px 3px 0 0;
        }
        h2.woocommerce-loop-product__title {
            font-size: 1rem;
            text-transform: uppercase;
        }
        .price {}
    }
    .button {
        background-color: $brand1;
        color: $light;
        padding: 0.5rem;
        display: block;
        max-width: 100%;
        &.product_type_simple {}
        &.product_type_variable {
            background-color: $brand1;
            color: $light;
        }
        &.add_to_cart_button {}
        &.ajax_add_to_cart {}
    }
}

.single-product {
    .type-product.product {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        .woocommerce-product-gallery {
            width: 50%;
            .woocommerce-product-gallery__wrapper {
                border: 1px solid $neutro;
                .woocommerce-product-gallery__image {
                    background-color: lime;
                    display: inline-block;
                }
            }
            .wp-post-image {
                width: 100%;
                height: auto;
            }
        }
        .summary {
            width: 50%;
            padding: 1rem 0 1rem 2.5rem;
            .product_meta {
                font-size: small;
                a {
                    color: $brand1;
                }
            }
        }
        .upsells {
            width: 100%;
            background-color: $neutro;
            flex: 1;
            padding: 20px;
            margin-top: 1.5rem;
            h2 {
                text-align: center;
                font-weight: normal;
                font-size: 20px;
            }
        }
        @media screen and(max-width: 768px) {
            flex-direction: column;
            .woocommerce-product-gallery {
                width: 100%;
            }
            .summary {
                width: 100%;
                padding: 1rem 0 0 0;
            }
        }
    }
}

.related {
    h2 {
        width: 100%;
        text-align: center;
    }
}

.single_variation_wrap {
    margin-top: 1rem;
    .woocommerce-variation-price {
        text-align: right;
    }
}

.variations {
    width: 100%;
    background-color: darken($light, 8%);
    border-radius: 3px;
    .label {
        padding: 1rem;
        color: $dark;
        text-align: left;
    }
    .value {
        padding: 1rem;
        .reset_variations {
            color: $error;
            font-size: 11px;
            font-weight: bold;
            padding: 0.25rem;
            text-transform: uppercase;
            float: right;
        }
    }
}

.screen-reader-text {
    display: none;
}

.quantity {
    .qty {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        background-color: darken($light, 8%) !important;
    }
}

.single_add_to_cart_button {
    border: 0px;
    border-radius: 3px;
    background-color: $brand1;
    color: $light;
}


/*
** My Account 
*/

.woocommerce-account {
    .woocommerce {
        background-color: $neutro;
    }
    .u-columns {
        display: flex;
        flex-wrap: wrap;
        .u-column1,
        .u-column2 {
            flex: 1;
            padding: 1rem;
        }
    }
    #customer_login {
        .woocommerce-form-login,
        .woocommerce-form-register {
            background-color: white;
            padding: 1rem;
            height: 100%;
        }
    }
}

.woocommerce-cart-form,
#order_review {
    border: 1px solid $neutro;
    .shop_table {
        width: 100%;
        thead {
            .product-price,
            .product-quantity,
            .product-subtotal {
                text-align: right;
            }
        }
    }
    .woocommerce-cart-form__cart-item {
        .product-remove {
            .remove {
                color: $brand1;
                font-size: 1.5rem;
                font-weight: bold;
                padding: 0.5rem;
            }
        }
        .product-thumbnail {
            img {
                max-width: 150px;
            }
        }
        .product-name {
            font-weight: bold;
        }
        .product-price,
        .product-quantity,
        .product-subtotal {
            text-align: right;
        }
    }
    .actions {
        background-color: $neutro;
        padding: 1rem;
    }
}

.cart-collaterals {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    .cart_totals {
        background-color: $neutro;
        width: 50%;
        padding: 1rem;
        margin-left: auto;
        h2 {
            margin: 0;
        }
        .shop_table {
            width: 100%;
            th {
                text-align: right;
            }
            td {
                text-align: right;
                padding: 0.5rem;
            }
        }
    }
    .order-total {
        .amount {
            font-size: 1.5rem;
        }
    }
    .wc-proceed-to-checkout {
        margin-top: 1rem;
        text-align: right;
    }
}

.checkout-button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: $brand2;
    border-color: $brand2;
    &:hover {
        background-color: lighten($brand2, 6%);
        border-color: lighten($brand2, 6%);
    }
}

#customer_details {
    display: flex;
    flex-wrap: wrap;
    .col-1,
    .col-2 {
        flex: 1;
    }
    .woocommerce-billing-fields {
        background-color: $neutro;
        padding: 1rem;
        #billing_country_field,
        #billing_address_2_field {
            display: none;
        }
    }
    .woocommerce-shipping-fields {
        background-color: $neutro;
        padding: 1rem;
    }
    .form-row {
        display: block;
        &#billing_first_name_field,
        &#billing_last_name_field,
        &#billing_phone_field,
        &#billing_email_field {
            width: 50%;
            display: inline-block;
        }
        &#billing_postcode_field {
            width: 30%;
            display: inline-block;
        }
        &#billing_city_field {
            width: 40%;
            display: inline-block;
        }
        &#billing_state_field {
            width: 30%;
            display: inline-block;
        }
        .input-text {
            width: 100%;
        }
    }
}